* {
  border: 1px solid green;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  padding: 0 2rem;
  background-color: #222;
  height: 5rem;
  color: white;
}

main > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data-card {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 3rem auto;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 4px;
}

.data-card input {
  height: 2rem;
  border: 2px solid black;
  border-radius: 4px;
  padding: 0.25rem;
}

.donor-list {
  list-style: none;
  padding: 0;
}

@media (min-width: 768px) {
  main > div {
    flex-direction: row;
  }

  .data-card {
    width: 40%;
  }
  
}
